/* Full Screen */

.seese-mainmenu {
  float:left;
  margin: 0 0 0 60px;
  width: 40%;
}

.seese-mainmenu ul li {
  display: inline-block; 
  margin: 0 60px 0 0;
  padding: 20px 0;
  position: relative;
}

.seese-mainmenu ul li:last-child {
  margin-right: 0;
}

.seese-mainmenu ul li:last-child {
  margin-right: 0;
}

.seese-mainmenu ul li a {
  display: block;
  font-family: 'notokr-medium' !important;
  font-size: 16px; 
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0px;
  margin-left: 0px;
  background: none;
  letter-spacing: .8px;
}

ul li.seese-megamenu a i {
  margin-left: 7px;
}

.seese-mainmenu ul li ul {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 80px;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all .30s ease;
  -moz-transition: all .30s ease;
  -ms-transition: all .30s ease;
  -o-transition: all .30s ease;
  transition: all .30s ease;
  width: 220px;
  margin-left: 0px;
  z-index: 999;
  padding: 0;
  border: none;
  height: 0;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
}

.seese-mainmenu ul li:hover ul {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
  padding-top: 44px;
  padding-bottom: 20px;
}

.seese-mainmenu ul li ul li ul {
  top: 0px !important;
  visibility: hidden !important;
  opacity: 0 !important;
  margin-left: 190px;
  left: 0;
}

.seese-mainmenu ul li ul li:hover>ul {
  opacity: 1 !important;
  visibility: visible !important;
  margin-top: -11px;
}

.seese-mainmenu ul li ul li {
  display: block;
  margin: 0;
  position: relative;
  padding: 0 0 18px 0;
}

.seese-mainmenu ul li.seese-dropdown-menu ul li {
  width: 100%;
}

.seese-mainmenu ul li ul li a {
  text-decoration: none;
  display: block;
}

.seese-mainmenu ul li.seese-megamenu > ul {
  width: 750px;
  padding-left: 0;
  padding-right: 0;
}

.seese-mainmenu ul li.seese-megamenu > ul ul {
  position: inherit !important;
  visibility: visible !important;
  opacity: 1 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  padding: 25px 0 0 0;
  background: transparent;
  height: 100%;
  width: 100%;
}

.seese-mainmenu ul li.seese-megamenu > ul > li {
  padding: 0 30px;
  border-right: 1px solid #393939;
}

.seese-mainmenu ul li.seese-megamenu > ul > li:last-child {
  border: none;
}

.seese-mainmenu ul li ul li a.seese-title-menu:link,
.seese-mainmenu ul li ul li a.seese-title-menu:active,
.seese-mainmenu ul li ul li a.seese-title-menu:visited,
.seese-mainmenu ul li.seese-megamenu > ul > li > a:link,
.seese-mainmenu ul li.seese-megamenu > ul > li > a:active,
.seese-mainmenu ul li.seese-megamenu > ul > li > a:visited {
  color: #fff;
}

.seese-mainmenu ul li.seese-megamenu .sub-menu {
	overflow: hidden;
}

.seese-mainmenu ul > li.seese-megamenu:hover > ul:after {
	content: '';
	background: #232323;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 44px;
}

.seese-mainmenu ul li.seese-megamenu > ul > li {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.seese-mainmenu ul li.seese-megamenu ul li li:last-child {
  padding-bottom: 0;
}

.seese-mainmenu ul > li.seese-megamenu:hover > ul {
  padding-bottom: 44px;
}

.seese-mainmenu ul li.seese-megamenu > ul > li.seese-megamenu-hide-title > a {
  display: none;
}

.seese-mainmenu ul li.seese-megamenu > ul > li.seese-megamenu-hide-title > ul {
  padding-top: 0;
}

.slicknav_menu {
  display: none;
}

/* Small Screen - Responsive */

@media (max-width: 767px) {
  .seese-mainmenu {
    text-align: center;
    float: left;
  }
}

#seese-mobilemenu .slicknav_menu {
	
}

#seese-mobilemenu .fixed.slicknav_menu {
  position: fixed;
  left: 0;
  transition: all .5s;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 99;
  margin-top: 0;
}

#seese-mobilemenu .slicknav_menu .slicknav_btn {
  display: inline-block;
  float: right;
  clear: both;
  margin: -12px 0 22px;
}
.slicknav_menutxt {display:none !important;}
#seese-mobilemenu .slicknav_menu .slicknav_btn span {
	height: 3px;
    width: 28px;
    display: block;
    margin-bottom: 6px;
    background: #666666;
}

#seese-mobilemenu .slicknav_nav {
  width: 100%;
  z-index: 99;
  background: #fff;
  border: none;
  text-align: left;
  padding: 20px 20px 20px 4px;
  box-shadow: 0 1px 9px rgba(0, 0, 0, .2);
  max-height: 80vh;
  overflow-y: auto;
  margin-bottom: 10px;
}

#seese-mobilemenu .slicknav_nav li a {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

#seese-mobilemenu .slicknav_nav li a span {
  display: inline-block;
  font-size: 10px;
  padding-left: 4px;
}

#seese-mobilemenu .slicknav_nav li>a,
#seese-mobilemenu .slicknav_nav>li>a {
  display: block;
  padding: 16px 14px 10px;
}

#seese-mobilemenu .slicknav_nav li {
  margin-left: 14px;
  display: block;
  background: rgba(255,255,255,.2);
  border-bottom: 1px solid #fff;
  overflow: hidden;
  padding: 0;
}

#seese-mobilemenu .slicknav_nav li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0px solid #eee;
}

#seese-mobilemenu .slicknav_nav li a span.slicknav_arrow {
  padding-top: 1px;
  vertical-align: middle;
  float: right;
}

#seese-mobilemenu .slicknav_nav li a span.slicknav_arrow::before {
  transition: all .5s;
  content: "\f067";
  font: normal normal normal 14px/1 FontAwesome;
}

#seese-mobilemenu .slicknav_nav li.slicknav_open>a>span.slicknav_arrow::before {
  content: "\f068";
}

#seese-mobilemenu .slicknav_nav li.active li a span.slicknav_arrow::before,
#seese-mobilemenu .slicknav_nav li.active li a {
  background: transparent;
}

/* Dynamic Color */

/* Main Menu Color  */
.seese-mainmenu ul li a,
.slicknav_nav li a {
  color:#333333; 
}
.seese-mainmenu ul li a:hover {font-family: 'notokr-bold' !important;}

/* Main Menu Hover Color */
.seese-mainmenu ul>li.current-menu-ancestor>a,
.seese-mainmenu ul>li.current-menu-item>a,
.seese-mainmenu ul>li.current_page_parent>a,
.seese-mainmenu ul li.active a,
.seese-mainmenu ul li a:hover,
.navbar-toggle:hover .icon-bar,
.slicknav_nav>li.current-menu-ancestor>a,
.slicknav_nav>li.current-menu-ancestor>a>a,
.slicknav_nav>li.current-menu-parent>a>a,
.slicknav_nav>li.current-menu-parent>a,
.slicknav_nav li.active > a,
.slicknav_nav li.active > a a,
.slicknav_nav ul li a:hover,
.slicknav_nav li a:hover,
.slicknav_nav li a:hover a,
.slicknav_nav li li a:hover,
.slicknav_nav li li.active a,
.slicknav_nav li li.active li a:hover,
.seese-mainmenu ul>li li.current_page_parent>a,
.slicknav_nav li ul>li.current-menu-parent>a>a,
.slicknav_nav li ul li li.current-menu-item a,
.slicknav_nav li ul li.current-menu-item>a,
.slicknav_nav li li a:hover a,
.slicknav_nav li ul>li.current-menu-parent>a {
  color: #333333;
}  

/* Sub Menu Background Color */
.seese-mainmenu ul li ul, .slicknav_nav {
  background: #232323;
}

/* Sub Menu Color  */
.seese-mainmenu ul li ul li a,
.seese-mainmenu ul>li.current-menu-ancestor li a, 
.seese-mainmenu ul>li.current_page_parent li a,
.slicknav_nav li li a,
.slicknav_nav li li.active li a,
.seese-mainmenu ul li ul li a:link, 
.seese-mainmenu ul li ul li a:active, 
.seese-mainmenu ul li ul li a:visited {
  color: #888;
}

/* Sub Menu Hover Color */
.seese-mainmenu ul li ul li.active>a:link, 
.seese-mainmenu ul li ul li.active>a:active, 
.seese-mainmenu ul li ul li.active>a:visited,
.seese-mainmenu ul li ul li a:hover,
.seese-mainmenu ul li ul li.current-menu-item li a:hover,
.seese-mainmenu ul li ul li.current-menu-item>a:link, 
.seese-mainmenu ul li ul li.current-menu-item>a:active, 
.seese-mainmenu ul li ul li.current-menu-item>a:visited,
.seese-mainmenu ul li ul li.current-menu-parent>a:link, 
.seese-mainmenu ul li ul li.current-menu-parent>a:active, 
.seese-mainmenu ul li ul li.current-menu-parent>a:visited {
  color: #fff;
}
